<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<th:block th:include="fragments/head"></th:block>
<body>

     <th:block th:include="fragments/navbarAdmin"></th:block>
     <div class="container">
     
        <div class="card" style="max-width: 100%;">
			<div class="card-header">Lista de categorias</div>
			<div class="card-body">

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Ver</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="categoria : ${categorias}">

							<td th:text="${categoria.id}">1</td>
							<td th:text="${categoria.nombre}">HAMP</td>
							<td th:text="${categoria.descripcion}">HAMP</td>
							
							<td><a th:href="@{'/categorias/show/' + ${categoria.id}}"
								class="btn btn-primary">Ver</a></td>
							<td><a th:href="@{'/categorias/edit/'+ ${categoria.id}}"
								class="btn btn-success">Editar</a></td>
							<td><a th:href="@{'/categorias/delete/' + ${categoria.id}}"
								class="btn btn-danger">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>