<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>Nueva categoria</h2> 
	<form th:action="@{/categorias}" th:object="${categoria}" method="POST">
			<label>Nombre</label>
			<input type="text" name="nombre" th:field="*{nombre}" placeholder="Ingrese nombre"></input>
			<label>Descripción</label>
			<input type="text" name="descripcion" th:field="*{descripcion}" placeholder="Ingrese descripción"></input>
			<button type="submit">GUARDAR</button>
	</form>
</body>
</html>