<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<meta charset="UTF-8">
<body>
	<th:block th:include="fragments/navbarAdmin"></th:block>

	<div class="container">
<form th:action="@{/categorias}" th:object="${categoria}" method="POST">
<br></br>
<h1 class="display-3">Nueva categoria</h1>
  <!-- Name input -->
  <div class="form-outline mb-4">
    <input type="text" id="form4Example1" class="form-control" name="nombre" th:field="*{nombre}" />
    <label class="form-label" for="form4Example1" >Nombre categoria</label>
  </div>



  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="form4Example3" rows="4" name="descripcion" th:field="*{descripcion}"></textarea>
    <label class="form-label" for="form4Example3">Descripción</label>
  </div>


  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Registrar</button>
  			
  <br></br> <br></br>   <br></br> <br></br> 
  
</form>

	</div>
	<th:block th:include="fragments/footer"></th:block>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>