<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<th:block th:include="fragments/head"></th:block>
<meta charset="UTF-8">
<body>
	<th:block th:include="fragments/navbarAdmin"></th:block>

	<div class="container">
		<form th:action="@{/profesores}" th:object="${profesor}" method="POST">
			<br></br>
			<h1 class="display-3">Nuevo profesor</h1>
			<!-- 2 column grid layout with text inputs for the first and last names -->
			<div class="row mb-4">
				<div class="col">
					<div class="form-outline">
						<input type="text" id="form6Example1" class="form-control"
							name="nombres" th:field="*{nombres}" /> <label
							class="form-label" for="form6Example1">Nombres</label>
					</div>
				</div>
				<div class="col">
					<div class="form-outline">
						<input type="text" id="form6Example2" class="form-control"
							name="apellidos" th:field="*{apellidos}" /> <label
							class="form-label" for="form6Example2">Apellidos</label>
					</div>
				</div>
			</div>

			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="edad" th:field="*{edad}" /> <label class="form-label"
					for="form6Example3">Edad</label>
			</div>

			<!-- Text input -->
			<div class="form-outline mb-4">
				<input type="text" id="form6Example4" class="form-control"
					name="dni" th:field="*{dni}" /> <label class="form-label"
					for="form6Example4">Dni</label>
			</div>

			<!-- Email input -->
			<div class="form-outline mb-4">
				<input type="email" id="form6Example5" class="form-control"
					name="correo" th:field="*{correo}" /> <label class="form-label"
					for="form6Example5">Email</label>
			</div>
			<!-- Number input -->
			<div class="form-outline mb-4">
				<input type="number" id="form6Example6" class="form-control"
					name="telefono" th:field="*{telefono}" /> <label
					class="form-label" for="form6Example6">Telefono</label>
			</div>

			<div class="form-outline mb-4">
				<input type="date" id="start" class="form-control"
					value="2022-07-22" min="1990-01-01" max="2022-12-31" name="fecha"
					th:field="*{fecha}"> <label class="form-label" for="start">Fecha</label>
			</div>
			<div class="form-outline mb-4">
				<input type="number" id="form6Example6" class="form-control"
					name="grado" th:field="*{grado}" /> <label
					class="form-label" for="form6Example6">Grado</label>
			</div>
			
			<div class="form-outline mb-4">
				<label class="form-label" for="lista">Cursos</label> <select
					class="custom-select custom-select-sm " name="curso" id="lista">
					<option th:each="curso :${listaCursos}" th:value="${curso.id}"
						th:text="${curso.nombre}" />
				</select>
			</div>

			<!-- Submit button -->
			<button type="submit" class="btn btn-primary btn-block mb-4">Registrar</button>

			<br></br>

		</form>
	</div>

	<th:block th:include="fragments/footer"></th:block>
	<th:block th:include="fragments/scripts"></th:block>

</body>