<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<th:block th:include="fragments/head"></th:block>
<body>
     <th:block th:include="fragments/navbar"></th:block>
     <div class="card" style="max-width: 100%;">
			<div class="card-header">Lista de Libros</div>
			<div class="card-body">

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th>Titulo</th>
							<th>Categoria</th>
							<th>Ver</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="libro : ${libros}">

							<td th:text="${libro.id}">1</td>
							<td th:text="${libro.titulo}">HAMP</td>
							<td><th:block th:each="categoria : ${libro.categoria}">
									<span th:text="${categoria.nombre} + ' '">Item description
										here...</span>
								</th:block>
							</td>
							<td><a th:href="@{'/libros/show/' + ${libro.id}}"
								class="btn btn-primary">Ver</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>
	<th:block th:include="fragments/footer"></th:block>

</body>
</html>