<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include ="fragments/head"></th:block>
<body>
	<th:block th:include ="fragments/navbar"></th:block>

	<div class="container">
	<form th:action="@{/libros}" th:object="${libro}" method="POST">
			<h1>Registro Libro</h1>		
		
			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="titulo" th:field="*{titulo}" /> <label class="form-label"
					for="form6Example3">Titulo</label>
			</div>
			
			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="descripcion" th:field="*{descripcion}" /> <label class="form-label"
					for="form6Example3">Descripcion</label>
			</div>
			
			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="fPublicacion" th:field="*{fPublicacion}" /> <label class="form-label"
					for="form6Example3">Fecha De Publicacion</label>
			</div>
			
			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="autor" th:field="*{autor}" /> <label class="form-label"
					for="form6Example3">Autor</label>
			</div>
			
			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="enlace" th:field="*{enlace}" /> <label class="form-label"
					for="form6Example3">enlace</label>
			</div>
			
			<div class="form-outline mb-4">
				<label class="form-label" for="lista">Categoria</label> <select
					class="custom-select custom-select-sm " name="categoria" id="lista">
					<option th:each="categoria :${listaCategorias}" th:value="${categoria.id}"
						th:text="${categoria.nombre}" />
				</select>
			</div>
			
			<!-- Submit button -->
			<button type="submit" class="btn btn-primary btn-block mb-4">Registrar</button>

			<br></br>
		</form>
	
	</div>
	<th:block th:include ="fragments/footer"></th:block>
	<th:block th:include ="fragments/scripts"></th:block>
	
</body>
</html>