<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include ="fragments/head"></th:block>
<body>
	<th:block th:include ="fragments/navbar"></th:block>

	<div class="container">
	<form th:action="@{/videos}" th:object="${video}" method="POST">
			<h1>formulario ok</h1>
			
		
			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="nombre" th:field="*{nombre}" /> <label class="form-label"
					for="form6Example3">Nombre</label>
			</div>
			
			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="descripcion" th:field="*{descripcion}" /> <label class="form-label"
					for="form6Example3">Descripcion</label>
			</div>
			
			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="url" th:field="*{url}" /> <label class="form-label"
					for="form6Example3">url</label>
			</div>
			
			<div class="form-outline mb-4">
				<label class="form-label" for="lista">Categoria</label> <select
					class="custom-select custom-select-sm " name="categoria" id="lista">
					<option th:each="categoria :${listaCategorias}" th:value="${categoria.id}"
						th:text="${categoria.nombre}" />
				</select>
			</div>
			
			<!-- Submit button -->
			<button type="submit" class="btn btn-primary btn-block mb-4">Registrar</button>

			<br></br>
		</form>
	
	</div>
	<th:block th:include ="fragments/footer"></th:block>
	<th:block th:include ="fragments/scripts"></th:block>
	
</body>
</html>