<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<th:block th:include="fragments/head"></th:block>
<meta charset="UTF-8">
<body>
	<th:block th:include="fragments/navbarAdmin"></th:block>

	<div class="container">
<br></br>
		<div class="card">
			<div class="card-header">Listado de estudiantes</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>

							<th scope="col">Nombre</th>
							<th scope="col">Descripción</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="curso:${cursos}">
							<td th:text="${curso.nombre}">Mark</td>
							<td th:text="${curso.descripcion}">@mdo</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<br></br>
	</div>

	<th:block th:include="fragments/footer"></th:block>
	<th:block th:include="fragments/scripts"></th:block>

</body>