<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>Nuevo curso</h2> 
	<form th:action="@{/cursos}" th:object="${curso}" method="POST">
			<label>Nombre</label>
			<input type="text" name="nombre" th:field="*{nombre}" placeholder="Ingrese nombre"></input>
			<label>Descripción</label>
			<input type="text" name="descripcion" th:field="*{descripcion}" placeholder="Ingrese descripción"></input>
			<button type="submit">Registro</button>
	</form>
</body>
</html>